<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="icon" type="image/png" href="/images/logo.png" />

</head>
<style>
    body{
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .card{
        background-color: #E0E0DF;
        color: #4f4f4f;
        width: 20%;
        height: 100px;
        border-radius: 10px;
        padding: 10px 20px;
    }
    .card a{
        color: #147eff;
    }
    .done{
        color: #13ff13;
        font-size: 20px;
    }
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .x404{
        font-size: 20px;
    }
    .logo {
        height: 100px;
        width: 100px;
        cursor: default;
    }
</style>

<body>
<center>
    <div class="card centered">
        <img class="logo" src="/images/logo.png">
        <span class="x404 centered">404</span>
    </div>
</center>

</body>