<!DOCTYPE html>
<html>

<head>
  <title><%= sitename %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/png" href="images/logo.png" />
</head>


<body>
  <a href="#"><img class="logo" src="/images/logo.png"></a><br>
  <span class="title"><%= sitename %></span><br><br>
  <center>
    
  </center>
  <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
</body>

</html>