<!DOCTYPE html>
<html>

<head>
  <title><%= sitename %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="icon" type="image/png" href="images/logo.png" />
</head>
<style>
  body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .logo {
    height: 10%;
    width: 10%;
    cursor: default;
  }

  .title {
    font-size: 20px;
  }

  .button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }

  .button:hover {
    background-color: #E23D28;
  }

  .card {
    background-color: #f1f0ef;
    color: #4f4f4f;
    width: 50%;
    border-radius: 10px;
    padding: 10px 20px;
    width: 47.5%;
  }

  .card a {
    color: #147eff;
  }

  .done {
    color: #54CF5A;
    font-size: 20px;
  }
</style>

<body>
  <a href="#"><img class="logo" src="/images/logo.png"></a><br>
  <span class="title"><%= sitename %></span><br><br>
  <form action="/upload" method="post" encType="multipart/form-data">
    <center>
      <div style="width: 50%;">
        <input type="file" name="file" class="upload" <%= (multi) ? "multiple"  : ""; %>>
      </div>
    </center>
  </form>
  <center>
    <div class="links">

    </div>
  </center>
  <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
  <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
  <script>
    $(() => {
      $.fn.filepond.registerPlugin(FilePondPluginImagePreview);
      $('.upload').filepond();
      $.fn.filepond.setOptions({
        server: {
          process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {

            const formData = new FormData();
            formData.append(fieldName, file, file.name);

            const request = new XMLHttpRequest();
            request.open('POST', './api/upload');

            request.upload.onprogress = (e) => {
              progress(e.lengthComptable, e.loaded, e.total);
            };

            request.onload = function () {
              if (request.status >= 200 && request.status < 300) {
                ShowLinks(JSON.parse(request.responseText))
                load(JSON.parse(request.responseText)["delete"]);
              } else {
                error('Something went wrong...');
              }
            };

            request.send(formData);

            return {
              abort: () => {
                request.abort();
                abort();
              }
            };
          },
          revert: (uniqueFileId, load, error) => {
            const request = new XMLHttpRequest();
            request.open("DELETE", "./api/delete")
            request.onload = function () {
              if (request.status >= 200 && request.status < 300) {
                let that = `#${uniqueFileId.split("?")[0].split(".")[0]}`
                console.log(that)
                $(that).remove()
                load();
              } else {
                error('oh no');
              }
            };
            const formData = new FormData();
            formData.append("key", uniqueFileId);
            request.send(formData)
          }
        }
      })
      let i = 1

      function ShowLinks(obj) {
        let old = $(".links").html()
        $(".links").html(`${old}
<br>    <div class="card" id="${obj.delete.split("?")[0].split(".")[0]}">
        <span class="done"><i class="fas fa-check"></i> File uploaded</span>
<br><b>${obj.oldname}</b>
<br>Direct link: <a href="${obj.url}" target="_blank">${obj.fname}</a>
<br>
Deletion URL: <a href="${obj.deleteURL}" target="_blank">${obj.deleteURL}</a>
</div>
<br>`)
        i++
      }
    })
  </script>
</body>

</html>